/BibliotecaDuocUC/nbproject/private/
/BibliotecaDuocUC/build/
/EjemploStringFor/nbproject/private/
/EjemploStringFor/build/
/GestionEmpleados/nbproject/private/
/GestionEmpleados/build/
/AyudantiaEjemplo/nbproject/private/
/AyudantiaEjemplo/build/
/GestionReservasHotel/nbproject/private/
/GestionReservasHotel/build/
/GestionReservaCorreccionPrueba/nbproject/private/
/GestionReservaCorreccionPrueba/build/
/Scootin/nbproject/private/
/Scootin/build/
/GestionReservaHotelArrayList/nbproject/private/
/GestionReservaHotelArrayList/build/
